<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../assets/favicon.ico">

    <title>Template para busquedas especiales estudiantes de una seleccion</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/styles/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../assets/styles/template.css" rel="stylesheet">
</head>

<body>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Carnet</th>
                <th>Correo</th>
                <th>Seleccion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <% _.each(listaEstudiantesSeleccion, function(estudiante) {%>
                    <td>
                        <%=estudiante.nombre%>
                    </td>
                    <td>
                        <%=estudiante.apellido%>
                    </td>
                    <td>
                        <%=estudiante.carnet%>
                    </td>
                    <td>
                        <%=estudiante.correo%>
                    </td>

                    <td>
                        <%=estudiante.nombreSelec%>
                    </td>

            </tr>
            <%}) %>
        </tbody>
    </table>
</body>

</html>