<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../../assets/styles/bootstrap.css">
  <!-- ESTILOS PERSONALIZADOS -->
  <link rel="stylesheet" href="../../assets/styles/estilos.css">
</head>

<body>

  <!-- <table class="table table-striped">
        <thead>
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Codigo</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <% _.each(carreras, function(carrera) {%>
                    <th scope="row">
                        <%=carrera.idcarrera%>
                    </th>

                    <td>
                        <%=carrera.nombre%>
                    </td>
                    <td>
                        <%=carrera.codigo%>
                    </td>
                    <td>
                        <a class="btn btn-outline-success" href="../carrera/flujograma" value="<%=carrera.idcarrera%>" role="button">Ver Flujograma</a>
                    </td>

            </tr>
            <%}) %>
        </tbody>
    </table> -->
    <div class="col-md-6 mb-3">
      <label class="mr-sm-2" for="idcarrera">Carreras</label>
      <select name="idcarrera" class="form-control">
        <option selected>Carreras..</option>
        <%_.each(carreras, function(carrera) {%>}
          <option value="<%=carrera.idcarrera%>">
            <%=carrera.nombre%>
          </option>
          <%})%>
      </select>
    </div>
    <div class="col-md-6 mb-3">
      <a class="btn btn-outline-success" href="../carrera/flujograma" role="button">Ver Flujograma</a>
    </div>
 



  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="../../assets/js/dependencies/jquery-3.3.1.js"></script>
  <script src="../../assets/js/popper.min.js"></script>
  <script src="../../assets/js/bootstrap.min.js"></script>
  <script src="../../assets/js/holder.min.js"></script>
</body>

</html>
