<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../assets/styles/bootstrap.css">
    <!-- ESTILOS PERSONALIZADOS -->
    <link rel="stylesheet" href="../../assets/styles/estilos.css">
  </head>

  <body>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Correo</th>
          <th>Carnet</th>
          <th>Cedula</th>
          <th>Sexo</th>
          <th>Tipo</th> 
        </tr>
      </thead>
      <tbody>
        <tr>
          <% _.each(users, function(user) {%>
          <th scope="row"><%=user.idusuario%></th>
          
            <td><%=user.nombre%></td>
            <td><%=user.apellido%></td>
            <td><%=user.correo%></td>
            <td><%=user.carnet%></td>
            <td><%=user.cedula%></td>
            <td><%=user.sexo%></td>
            <td><%=user.tipo%></td>
          
        </tr>
        <%}) %>
      </tbody>
    </table>

    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/dependencies/jquery-3.3.1.js"></script>
    <script src="../../assets/js/popper.min.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <script src="../../assets/js/holder.min.js"></script>
  </body>  

</html>
