<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../../assets/styles/bootstrap.css">
  <!-- ESTILOS PERSONALIZADOS -->
  <link rel="stylesheet" href="../../assets/styles/estilos.css">
</head>

<body>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>Edificio</th>
        <th>Piso</th>
        <th>Numero de Aula</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% _.each(aulas, function(aula) {%>
          <th scope="row">
            <%=aula.idaula%>
          </th>

          <td>
            <%=aula.edificio%>
          </td>
          <td>
            <%=aula.piso%>
          </td>
          <td>
            <%=aula.numeroaula%>
          </td>
          <td>
            <a class="btn btn-outline-success" href="../aula/edit/<%=aula.idaula%>" role="button">Editar</a>
          </td>

      </tr>
      <%}) %>
    </tbody>
  </table>


  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="../../assets/js/dependencies/jquery-3.3.1.js"></script>
  <script src="../../assets/js/popper.min.js"></script>
  <script src="../../assets/js/bootstrap.min.js"></script>
  <script src="../../assets/js/holder.min.js"></script>
</body>

</html>
