<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../assets/styles/bootstrap.css">
    <!-- ESTILOS PERSONALIZADOS -->
    <link rel="stylesheet" href="../../assets/styles/estilos.css">
  </head>

  <body>

    <!-- BARRA DE NAVEGACION -->
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="../#">MetroPavo App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
             
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Consultar</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="../estudiante/consultar">Estudiante</a>
                      <a class="dropdown-item" href="consultar">Profesor</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="../materia/consultar">Materia</a>
                      <a class="dropdown-item" href="../aula/consultar">Aula</a>
                      <a class="dropdown-item" href="../departamento/consultar">Departamento</a>
                      <a class="dropdown-item" href="../seccion/consultar">Sección</a>
                      <a class="dropdown-item" href="../selecciondeportiva/consultar">Selección</a>
                      <a class="dropdown-item" href="../periodo/consultar">Período</a>
                      <a class="dropdown-item" href="../carrera/consultar">Carrera</a>
                      <a class="dropdown-item" href="../beca/consultar">Beca</a>
                    </div>
                  </li>
                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Añadir</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="../estudiante/agregar">Estudiante</a>
                          <a class="dropdown-item" href="agregar">Profesor</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="../materia/agregar">Materia</a>
                          <a class="dropdown-item" href="../aula/agregar">Aula</a>
                          <a class="dropdown-item" href="../departamento/agregar">Departamento</a>
                          <a class="dropdown-item" href="../seccion/agregar">Sección</a>
                          <a class="dropdown-item" href="../selecciondeportiva/agregar">Selección</a>
                          <a class="dropdown-item" href="../periodo/agregar">Período</a>
                          <a class="dropdown-item" href="../carrera/agregar">Carrera</a>
                          <a class="dropdown-item" href="../beca/agregar">Beca</a>
                        </div>
                    </li>
                </ul>
            </div>
         </nav>
    </header>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Correo</th>
          <th>Carnet</th>
          <th>Cedula</th>
          <th>Sexo</th>
          <th>Profesion</th>
          <th>Fecha Ingreso</th>
          <th>Departamento</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% _.each(profesores, function(profesor) {%>
          <th scope="row"><%=profesor.idprofesor%></th>
          
            <td><%=profesor.nombre%></td>
            <td><%=profesor.apellido%></td>
            <td><%=profesor.correo%></td>
            <td><%=profesor.carnet%></td>
            <td><%=profesor.cedula%></td>
            <td><%=profesor.sexo%></td>
            <td><%=profesor.profesion%></td>
            <td><%=profesor.fechaingreso%></td>
            <td><%=profesor.departamento%></td>
            <td><a class="btn btn-outline-success" href="<%=profesor.idprofesor%>" role="button">Editar</a></td>
          
        </tr>
        <%}) %>
      </tbody>
    </table>

    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/dependencies/jquery-3.3.1.js"></script>
    <script src="../../assets/js/popper.min.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <script src="../../assets/js/holder.min.js"></script>
  </body>  

</html>