<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../../assets/styles/bootstrap.css">
  <!-- ESTILOS PERSONALIZADOS -->
  <link rel="stylesheet" href="../../assets/styles/estilos.css">
</head>

<body>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>Materia</th>
        <th>Numero de sección</th>
        <th>Cupos</th>
        <th>Profesor</th>
        <th>Periodo</th>
        <th>Aula</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <% _.each(secciones, function(seccion) {%>
          <th scope="row">
            <%=seccion.idseccion%>
          </th>

          <td>
            <%=seccion.idMateria%>
          </td>
          <td>
            <%=seccion.nroseccion%>
          </td>
          <td>
            <%=seccion.cupos%>
          </td>
          <td>
            <%=seccion.idProfesor%>
          </td>
          <td>
              <%=seccion.idPeriodo%>
            </td>
          <td>
            <%=seccion.idAula%>
          </td>

          <td>
            <a class="btn btn-outline-success" href="../seccion/edit/<%=seccion.idseccion%>" role="button">Editar</a>
          </td>

      </tr>
      <%}) %>
    </tbody>
  </table>


  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="../../assets/js/dependencies/jquery-3.3.1.js"></script>
  <script src="../../assets/js/popper.min.js"></script>
  <script src="../../assets/js/bootstrap.min.js"></script>
  <script src="../../assets/js/holder.min.js"></script>
</body>

</html>
